body {
    background-color: white;
    color:rgb(85, 82, 82);
    padding:0px;
    margin:0px;
    font-family: 'Optima';
    margin-top:-33px; /*is there a better way of doing this? without it, the header appears slightly
    lower than the top of the page*/
  }

header{
    color:rgb(85, 82, 82);
    height:100px;  
    opacity: 1;
}

#header-background{
    width:100%;
    height:250px;
    background-image:url(/pastelclouds.jpeg);
} /*THIS IS NEW!!!!!!!!!!*/

header h1{
    text-align: left;
    padding: 35px;
    font-size:50px;
}
.searchbar {
    position: absolute;
    top: 57px;
    margin-left: 800px;

}
    /*need to centre align this instead of margin*/

nav{
    color:rgb(85, 82, 82);
    font-size: 25px;
    width:2500px; /*width of nav bar*/
}
nav ul{
    list-style:none;
    clear:both;
    padding: 10px;
}
nav ul li{
    display:inline-block; /*display links in a line */
    border-right: 2px solid rgb(85, 82, 82);; /*nav bar lines*/
    color:rgb(85, 82, 82);
    }

 nav ul li:last-child {
        border-right:0; /*nav bar lines*/
    } 

nav ul li a{
    padding: 50px 80px; /*make these less spread out?*/
    text-decoration: none;
}

nav ul li a:visited{
    color:rgb(123, 183, 175);
}

nav ul li a:hover{
    color: pink; /*hover over link*/
} 

.info{
    border: black;
    border-style: solid;
    margin:150px;
    padding:100px;
    text-align: left;
    width:500px;
}
