header {
  color: #e9f5f9;
  height: 80px;
  background: rgb(58, 192, 235);
  background: linear-gradient(
    0deg,
    rgba(58, 192, 235, 1) 0%,
    rgba(45, 102, 253, 1) 100%
  );
}

#header-background {
  height: 200px;
}

header h1 {
  color: white;
  text-align: left;
  padding: 30px;
  font-size: 50px;
}

.container-fluid {
  position: relative;
  max-width: 400px;
  float: right;
  margin-top: -4%; /*13.03.23 CHANGED THIS TO A %*/
}
body {
  background-color: E8E8E8;
  font-family: "Assistant", sans-serif;
}

nav {
  color: rgb(85, 82, 82);
  font-size: 25px;
  width: 2500px;
  /*width of nav bar*/
  margin: -5% -5% -5% 0%; /*13.03.23 CHANGED THIS TO A %*/
  /*NEW to move it closer to the h1*/
  padding: 10px;
}

nav ul {
  list-style: none;
  clear: both;
  padding: 10px;
}

nav ul li {
  display: inline-block;
  /*display links in a line */
  border-right: 2px solid #e9f5f9;
  /*nav bar lines*/
  color: #e9f5f9;
}

nav ul li:last-child {
  border-right: 0;
  /*nav bar lines*/
}

nav ul li a {
  color: #e9f5f9;
  /*updated colour of the links*/
  padding: 50px 60px;
  /* NEW -UPDATED */
  text-decoration: none;
}

nav ul li a:visited {
  color: #bee0ec;
}

nav ul li a:hover {
  color: black;
  /*hover over link*/
}

/*image flips when you hover over it */
img:hover {
  transform: scaleX(-1);
}

footer {
  color: #e9f5f9;
  height: 130px;
  opacity: 1;
  background: rgb(58, 192, 235);
  background: linear-gradient(
    0deg,
    rgba(58, 192, 235, 1) 0%,
    rgba(45, 102, 253, 1) 100%
  );
  padding: 30px;
  font-size: 20px;
  position: absolute; /*stretches it across the bottom of the page*/
  left: 0px; /*stretches it across the bottom of the page*/
  right: 0px; /*stretches it across the bottom of the page*/
  bottom: -120%; /*13.03.23 CHANGED THIS TO A %*/
}

/*NEW. THIS IS FOR THE ABOUT ME PAGE */
.aboutus {
  margin: 0% 5% 50% 4%;
  padding: 20px;
  text-align: left;
  display: flex;
}

/*NEW. THIS IS FOR THE ABOUT ME PAGE */
.authorcontact {
  border: black;
  border-style: solid;
  padding: 100px;
  text-align: center;
  width: 600px;
  height: 700px;
  margin: -28% 10% 0% 0%; /*13.03.23 CHANGED THIS TO A %*/
  float: right;
}
/*about me page CSS- text and image */

.aboutustext {
  padding: 70px;
  border: black;
  border-style: solid;
  width: 900px;
  height: 500px;
}

.aboutusimage {
  margin: -5% 0% 0% 5%; /*13.03.23 CHANGED THIS TO A %*/
  padding: 30px;
}

.aboutusimage2 {
  margin: -50% 0% 0% 0%; /*13.03.23 CHANGED THIS TO A %*/
  padding: 30px;
}
